.mainContainer {
  height: calc(100vh - 64px);
  background: var(--color-neutral-0);
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  max-width: 996px;
  min-width: 676px;
  font-family: "Source Sans 3";
}

.mainContainer_content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  flex: 1;
  height: calc(100vh - 64px - 56px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainContainer_h1 {
  position: sticky;
  top: 0;
  padding: 24px;
  background: var(--color-neutral-0);

  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  height: 88px;
  width: clamp(676px, 50vw, 996px);
  margin: 0 auto;
  z-index: 1;
}
