.logo {
  display: inline-block;
  transition: opacity 0.3s ease;
  display: block;
  max-width: 100%;
  height: auto;
}

.logo:hover {
  opacity: 0.8;
}

.logo__small {
  width: 100px;
}

.logo__medium  {
  width: 126px;
}

.logo__large {
  width: 200px;
}
