.navbar {
  background: var(--color-neutral-100);
  width: 204px;
  height: calc(100vh - 64px);
  padding: 24px 16px;
  border-right: 1px solid var(--color-neutral-300);

  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.incoming_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.incoming_link {
  width: 172px;
  height: 40px;
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  justify-content: baseline;
  align-items: center;
  background: var(--color-neutral-800);
  color: var(--color-neutral-0);
  box-shadow: var(--shadow-light-sm-default);
  border-radius: 8px;
  padding: 0 14px;
  gap: 14px;
  cursor: pointer;
}

.icon {
  width: 18px;
  height: 15px;
}
