.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  width: 400px;
  height: calc(100vh - 64px);
  padding: 24px 16px;
  background: var(--color-neutral-100);
  border-left: 1px solid var(--color-neutral-300);

  color: var(--color-neutral-800);
  font-family: "Source Sans 3";
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  min-height: 100%;
  overflow-y: auto;
  text-align: center;
}

.sidebar_icon {
  width: 231px;
  height: 168px;
}
