:root {
  --color-neutral-0: #ffffff;
  --color-neutral-100: #fbfbfb;
  --color-neutral-200: #f3f3f3;
  --color-neutral-300: #ececec;
  --color-neutral-400: #bfbfbf;
  --color-neutral-500: #8c8c8c;
  --color-neutral-600: #6c6c6c;
  --color-neutral-700: #393939;
  --color-neutral-800: #1c1c1c;
  --color-neutral-900: #141414;
  --color-primary-0: #fff4f4;
  --color-primary-100: #ffcece;
  --color-primary-200: #fca9a9;
  --color-primary-300: #f25959;
  --color-primary-400: #d51010;
  --color-primary-500: #a60c0c;
  --color-primary-600: #760909;
  --color-base: #000000;
  --shadow-light-base-default: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  --shadow-light-sm-default: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
}
