.taskList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 676px;
  margin: 0 auto;

  align-self: stretch;
  flex-grow: 1;
  z-index: 0;
}

.taskList_subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-top: 16px;
  padding-bottom: 16px;
}

.taskList_message {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 40px;
}

.taskList_img {
  width: 463px;
  height: 319px;
}
